<?php

namespace Conecmo;

/**
 * 動作環境に依存する設定
 */
class Env
{

    /** @var bool デバッグモードで動作 */
    const DEBUG = true;

    /** @var string エラーメール送信先 */
    const ERRMAIL = '';

    /** @var string エラーログ記録用ファイル名 */
    const LOGFILE = \APPHOME . 'log/php_err.log';

    /** @var string キャッシュファイル保存先 */
    const DIR_CACHE = \APPHOME . 'cache/';

    /** @var string アプリケーション定義体保存先 */
    const DIR_APP = \APPHOME . 'user/';

    /**
     * control db 接続情報
     *
     * @return \Ae\Db\DbcSetting
     */
    public static function db()
    {
        $c = new \Ae\Db\DbcSetting();
        $c->adapter = \Ae\Db::DB_POSTGRESQL;
        //$c->host = '';
        $c->database = '';
        $c->user = 'postgres';
        $c->pass = '';
        return $c;
    }

}
